/* body {
  background-color: red;
} */
/*
! Navbar
*/

@media (max-width: 1300px) and (min-width: 992px) {
  .navbar_text,
  .navbar_brand-logo-text {
    display: none;
  }
  .navbar_container {
    width: 2.37rem;
  }
  .navbar_menu-link.w--current,
  .navbar_menu-link:hover {
    padding-right: 0.3125rem;
    padding-left: 0.3125rem;
  }

  .navbar_toggle-size {
    display: none;
  }
}

.w-mod-js.dark-mode .navbar_icon-wrapper.is-darkmode {
  transform: rotateZ(180deg);
}

.custom-padding {
  padding-right: 0.3125rem !important;
  padding-left: 0.3125rem !important;
}

/*
! Slider / Generique
*/

/* .swiper.is-c--slider {
  overflow: visible;
} */

.swiper-button-disabled {
  opacity: 0.25;
}

/*
! Slider / Studio Lab
*/

/* swiper linear loop */
.swiper.is-studio-lab .swiper-wrapper {
  transition-timing-function: linear;
}

/*
! Cards Gradient setup
*/

.c--slider_gradient-blur {
  position: absolute;
  z-index: 1;
  inset: 0 0 0;
  height: 85%;
  pointer-events: none;
}
.c--slider_gradient-blur > div,
.c--slider_gradient-blur::before,
.c--slider_gradient-blur::after {
  position: absolute;
  inset: 0;
  border-radius: var(--size-border--border-radius-small);
}

.c--slider_gradient-blur::before {
  content: '';
  z-index: 1;
  backdrop-filter: blur(0.5px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0) 37.5%
  );
}
.c--slider_gradient-blur÷÷≠≠≠÷ > div:nth-of-type(1) {
  z-index: 2;
  backdrop-filter: blur(1px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 0) 50%
  );
}
.c--slider_gradient-blur > div:nth-of-type(2) {
  z-index: 3;
  backdrop-filter: blur(2px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 62.5%
  );
}

.c--slider_gradient-blur > div:nth-of-type(3) {
  z-index: 4;
  backdrop-filter: blur(4px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 0) 75%
  );
}

.c--slider_gradient-blur > div:nth-of-type(4) {
  z-index: 5;
  backdrop-filter: blur(8px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0) 87.5%
  );
}

.c--slider_gradient-blur > div:nth-of-type(5) {
  z-index: 6;
  backdrop-filter: blur(16px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.c--slider_gradient-blur > div:nth-of-type(6) {
  z-index: 7;
  backdrop-filter: blur(24px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}

.c--slider_gradient-blur::after {
  content: '';
  z-index: 8;
  backdrop-filter: blur(32px);
  mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 87.5%, rgba(0, 0, 0, 1) 100%);
}

/*
! Slider / Testimonials
*/

.swiper-navigation.is-c--artists-testomials > .swiper-button-disabled {
  opacity: 0;
}

/*
! Slider / Parallax on c--slider
*/

.c--slider_background-image {
  transition: transform 0.8s ease-out;
}

.a--c--slider-hover .c--slider_background-image-wrapper {
  transition: transform 0.2s ease-out;
}

.a--c--slider-hover:hover .c--slider_background-image-wrapper {
  transform: scale(1.05);
}

.swiper-slide.swiper-slide-prev .is-parallax .c--slider_background-image {
  transform: translateX(4rem);
}

.swiper-slide.is-active .is-parallax .c--slider_background-image {
  transform: translateX(2rem);
}

.swiper-slide.swiper-slide-next .is-parallax .c--slider_background-image {
  transform: translateX(0rem);
}

.swiper-slide.swiper-slide-next + .swiper-slide .is-parallax .c--slider_background-image {
  transform: translateX(-2rem);
}

.swiper-slide.swiper-slide-next
  + .swiper-slide
  + .swiper-slide
  .is-parallax
  .c--slider_background-image {
  transform: translateX(-4rem);
}

.swiper-slide.swiper-slide-next
  + .swiper-slide
  + .swiper-slide
  + .swiper-slide
  .is-parallax
  .c--slider_background-image {
  transform: translateX(-6rem);
}

.swiper-slide.swiper-slide-next
  + .swiper-slide
  + .swiper-slide
  .is-parallax
  .c--slider_background-image {
  transform: translateX(-4rem);
}

/*
! Slider / Cross-fade test
*/

.c--project_top-infos {
  transition:
    opacity 0.8s ease-in-out,
    transform 0.8s ease-out;
  opacity: 0;
  transform: translateX(-50%);
}

.swiper-slide.is-active .c--project_top-infos {
  opacity: 1;
  transform: translateX(0%);
}

/*
! Component split-banner
*/

#button-blue .button-border.is-tertiary {
  background-image: linear-gradient(-90deg, #68aaf680, #68aaf6);
}

#button-blue .button.is-tertiary:hover .button-border.is-tertiary {
  background-image: none !important;
  background-color: #68aaf6 !important;
}

#button-orange .button.is-tertiary:hover .button-border.is-tertiary {
  background-image: none !important;
  background-color: #f6a468 !important;
}

#button-green .button-border.is-tertiary {
  background-image: linear-gradient(-90deg, #9ef66880, #9ef668);
}

#button-green .button.is-tertiary:hover .button-border.is-tertiary {
  background-image: none !important;
  background-color: #9ef668 !important;
}

/* Logo Ecosystem - Dark mode */

.w-mod-js.dark-mode .ecosystem-grid_cards-logo {
  filter: invert(100%);
}

/* News filter - Dark mode ADJ  */
.fs_checkbox_field.is-news.is-active-inputactive .fs_checkbox_background-dm {
  opacity: 0;
}

/* News filter - Dark mode active */
.w-mod-js.dark-mode .fs_checkbox_field.is-news.is-active-inputactive {
  background-color: rgba(255, 255, 255, 0.2);
}

/* 
! Custom Button in Section CTA - Component 
*/

#golden-border .button-border {
  background: conic-gradient(
      from 200deg,
      #7d5d36,
      #e9e9c9,
      #866945,
      #ad8655,
      #b09257,
      #7f5f39,
      #6e4116,
      #683a10,
      #7d5d36
    )
    border-box; /*3*/
}

#sponsor-border .button-border {
  background: conic-gradient(from 200deg, #eb6873, #0fa3c4, #f2bc17, #eb6873) border-box; /*3*/
}

/* 
! Custom Color for Cards Background in Sponsorship & Creative Angels
*/

.w-mod-js.dark-mode .c-angels-layout_background-color {
  background-color: black;
  opacity: 0.5;
}

.w-mod-js.dark-mode .sponsorship-layout_background-color {
  background-color: black;
  opacity: 0.5;
}

/* 
! GLB Setup
*/

model-viewer#reveal {
  --poster-color: transparent;
}

model-viewer {
  --progress-bar-color: transparent;
}

/* 
! cms stories Adj
*/

figcaption {
  text-align: left;
  opacity: 0.5;
  font-size: 1.25rem;
  font-style: italic;
  padding-top: 0.5rem;
}

/* 
! Setup Lenis Scroll 
*/

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
